<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-containter w3-light-blue">
    <div>
      <a href="/users" class = "w3-bar-item w3-button">Users</a>
      <a href="/microposts" class = "w3-bar-item w3-button">microposts</a>
      <a href="/my_pages/home" class = "w3-bar-item w3-button">My pages</a>
    </div>
    <%= yield %>
  </body>
</html>
